body {
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
} 

p {
    margin: 0;
    padding: 0;
}

header button {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding-right: 0;
  margin-right: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10%;
  color: white;
}

.header-link {
  position: relative;
}

.modal-menu {
  position: absolute;
  opacity: 0;
  top: calc(100% + .25);
  transform: translateY(-10px);
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  pointer-events: none;
  z-index: 2;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  color: black;
}

 .modal-menu.modal-menu-active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
 }

.header-top {
  display: flex;
  align-items: center;
  gap: 5px;
}
 
.drop-down-links {
  display: none;
  background-color: aqua;
  position: absolute;
}

.drop-down-links-visible {
  display: grid;
}

.logo {
  height: 48px;
  width: auto;
  padding-top: 10px;
}

#close-btn {
  display: none;
}

#main-container {
  flex: 1;
  background-color: white;
}
.search-bar-div {
  width: 100%;
  margin: 14px;
  padding-top: 10px;
}
 .header-top-link, .drop-down-menu-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
 }

 .arrow path {
  transition: d 0.45s;
}

.arrow-active {
  background-color: rgb(6, 106, 221);
}
.arrow-active >.header-top-link >.arrow path, .drop-down-menu-link:hover >.arrow path {
  d: path("M12 14l-4-4h8z");
}

#search-bar {
  height: 32px;
  min-width: 32vw;
  padding: 5px 20px;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  box-sizing: border-box;
  background-image: url("/home/luis/repos/drop-down-menu/src/imgs/Vector_search_icon.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 98%;
  background-size: auto 80%;
}

#search-bar:focus {
  outline: none;
}

.cart-icon {
  color: white;
  padding-left: 30px;
}

.drop-down-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 42, 42);
  width: 100vw;
}

.rotate-90 {
  transform: rotate(90deg);
}

/* Sticky Footer and credit */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    gap: 8px;
    font-weight: bold;
    color: black;
    background-color: #0c4a6e;
}

#github-logo {
    padding-left: 8px;
    padding-right: 8px;
}

/* ########################################## Responsive layout ########################################################*/
/* @media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 650px) {

}

@media only screen and (max-width: 500px) {

    #github-logo>img {
        height: 20px;
        width: 20px;
    }
}

 @media only screen and (max-width: 325px) {

    .footer>p {
        font-size: 14px;
        margin: 8px;
    }
 } */

html {
  display: block;
}