body {
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
} 

p {
    margin: 0;
    padding: 0;
}

header button {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding-right: 0;
  margin-right: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10vw;
  color: white;
}

.header-top-links {
  position: relative;
}

.modal-menu {
  position: absolute;
  opacity: 0;
  top: calc(100% + .30rem);
  transform: translateY(-20px);
  transition: opacity 200ms ease-in-out, transform 350ms ease-in-out;
  pointer-events: none;
  z-index: 2;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
  color: black;
  font-size: 1rem;
  right: 0;
  width: 300px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-menu a {
  text-decoration: none;
  color: black;
  opacity: .8;
}

.modal-menu span {
  opacity: .7;
  font-size: 1rem;
  margin-right: 4px;
}

.modal-menu hr {
  opacity: .4;
}

.modal-menu-item {
  padding: 18px 24px; 
  border: none;
  border-bottom: solid 1px rgba(14, 30, 37, 0.10);
}

#sign-in-btn{
  font-size: 1rem;
  padding: 12px 56px;
  background-color: rgb(21, 82, 216);
  text-align: center;
  align-self: center;
}

.cart-msg {
  opacity: .5;
}
.modal-menu.modal-menu-active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.header-top {
  display: flex;
  align-items: center;
  gap: 5px;
}
 
.drop-down-links {
  position: absolute;
  height: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 200ms ease-in-out, transform 350ms ease-in-out, height 300ms ease-in-out;
  pointer-events: none;
  color: white;
  font-size: .95rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(max-content, 375px));
  background-color: #1F2024;
  left: 0;
  width: 100vw;
}

.drop-down-links.active {
  height: fit-content;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.drop-down-links-item, .links{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.drop-down-links-item {
  padding: 20px 100px;
}

.drop-down-links-header {
  margin: 0 0 4px;
  padding: 0 25px 0 0;
}
.links a {
  text-decoration: none;
  color: rgb(107, 107, 107);
  font-size: .9rem;
}

.logo {
  height: 48px;
  width: auto;
  padding-top: 10px;
}

#close-btn {
  display: none;
}

#main-container {
  flex: 1;
  background-color: white;
}

.search-bar-div {
  margin: 14px;
  padding-top: 10px;
}

.header-top-link, .drop-down-menu-link {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 10px;
 }

 .arrow-large {
  width: 44px;
  height: 44px;

 }
 .arrow-small {
  width: 24px;
  height: 24px;
 }
 .arrow path {
  transition: d 0.45s;
}

.arrow-active {
  background-color: rgb(6, 106, 221);
}
.arrow-active >.header-top-link >.arrow path, 
.arrow-active-no-bg >.drop-down-header >.drop-down-menu-link >.arrow path {
  d: path("M12 14l-4-4h8z");
}

#search-bar {
  height: 32px;
  min-width: 32vw;
  padding: 5px 20px;
  border: 1px solid #d8d8d8;
  border-radius: 20px;
  box-sizing: border-box;
  background-image: url("/home/luis/repos/drop-down-menu/src/imgs/Vector_search_icon.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 98%;
  background-size: auto 80%;
}

#search-bar:focus {
  outline: none;
}

.cart-icon {
  color: white;
  padding-left: 30px;
}

.drop-down-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1C1C1C;
  width: 100vw;
  height: 40px;
  gap: 25px;
}

.rotate-90 {
  transform: rotate(90deg);
}

/* Sticky Footer and credit */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 50px;
    gap: 8px;
    font-weight: bold;
    color: black;
    background-color: #0c4a6e;
}

#github-logo {
    padding-left: 8px;
    padding-right: 8px;
}

/* ########################################## Responsive layout ########################################################*/
/* @media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 650px) {

}

@media only screen and (max-width: 500px) {

    #github-logo>img {
        height: 20px;
        width: 20px;
    }
}

 @media only screen and (max-width: 325px) {

    .footer>p {
        font-size: 14px;
        margin: 8px;
    }
 } */

html {
  display: block;
}